.button-creator {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    height: 100vh;
    background-color: rgba(49, 49, 194, 0.508);
    padding: 2rem;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#controles {
    background-color: rgba(137, 43, 226, 0.864);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
}

label {
    color: rgb(71, 2, 71);
    text-shadow: 0 0 0.5px black;
    display: block;
    margin-top: 0.7rem;
    margin-bottom: 2px;
}

code {
    font-size: 1rem;
}